@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';

input{
    width: 70%;
    max-width: 500px;
    height: 40px;
    border: none;
    background-color: $text-color-secondary;
    padding-left: 10px;
    outline: none;
}