@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';

button{
    height: 40px;
    padding-inline: 10px;
    border: none;
    cursor: pointer;
    background-color: $bg-color-primary;
    color: $text-color-secondary;
}