@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';

button.button{
    height: 40px;
    padding-inline: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: $bg-color-primary;
    color: $bg-color-secondary;
    transition: all ease-in 0.3s;
    border-radius: 3px;

    &:hover{
        background-color: transparent;
        border: 1px solid $bg-color-primary;
        color: $bg-color-primary;
    }

    img{
        width: 20px;
    }
}