@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';


.box{
    width: 100%;
    height: 200px;
    @include center;
    position: relative;
    
    .box__Search{
        @include center;
    }
}